@media (min-width: 768px) {
    .mainRegister{
        width: 500px;
        height: 600px;
    }
    .register{
        width: 400px;
    }
    .firstName, .login, .email, .password, .password2{
        width: 360px;   
        height: 50px;
    }
    .registerBtn{
        height: 45px;
        font-size: 14px;
        margin-top: 35px;
    }
    label{
        font-size: 20px;
    }
}